<main>
    <div class="left">
        <img src="assets/logoQuirinos.png" alt="">
    </div>
    <div class="right">
        <h1>Cadastrar funcionário</h1>
        <form>
            <label for="name">Nome completo:</label>
            <input type="text" name="name" id="credentials">

            <label for="email">E-mail:</label>
            <input type="email" name="email" id="credentials">
            
            <label for="pass">Senha:</label>
            <input type="password" name="pass" id="credentials">

            <label for="retype-pass">Repetir senha:</label>
            <input type="password" name="retype-pass" id="credentials">

            <label for="rg">RG:</label>
            <input type="text" name="rg" id="credentials">

            <a routerLink="/home"><input type="submit" value="Cadastrar"></a>
        </form>
    </div>
</main>