<title>Quirino's - Renovar Senha</title>
<main>
    <div class="left">
        <img src="assets/logoQuirinos.png" alt="">
    </div>
    <div class="right">
        <h1>Renovar senha</h1>
        <form>
            <label for="new-pass">Nova senha:</label>
            <input type="password" name="new-pass" id="credentials">
    
            <label for="retype-new-pass">Redigite sua nova senha:</label>
            <input type="password" name="retype-new-pass" id="credentials">

            <a routerLink="/home"><input type="submit" value="Renovar senha"></a>
        </form>
    </div>
</main>