<title>Quirino's - Renovar Senha</title>
<main>
    <div class="left">
        <img src="assets/logoQuirinos.png" alt="">
    </div>
    <div class="right">
        <h1>Renovar senha</h1>
        <form (ngSubmit)="renewPass()">
            <label for="cpf" id="question-label">CPF:</label>
            <input type="text" name="cpf" id="credentials" [(ngModel)]="cpf" mask="000.000.000-00">

            <label for="new-pass" id="question-label">Nova senha:</label>
            <input type="password" name="new-pass" id="credentials" [(ngModel)]="newPass">
    
            <label for="retype-new-pass" id="question-label">Redigite sua nova senha:</label>
            <input type="password" name="retype-new-pass" id="credentials" [(ngModel)]="confirmPass">

            <div *ngIf="newPassSuccess" class="success-message">
            <p>Senha renovada com sucesso!</p></div>

            <div *ngIf="generalError" class="error-message"><p>Funcionário não autenticado.</p></div>

            <div *ngIf="differenceError" class="error-message"><p>As senhas não coincidem.</p></div>

            <div class="error-message" *ngIf="leadingSpace"><p>Não utilize apenas espaços vazios.</p></div>

            <a><input type="submit" class="submitBtn" value="Renovar senha"></a>
            <a [routerLink]="destiny"><input type="submit" value="Voltar" class="returnBtn"></a>
        </form>
    </div>
</main>