<app-header></app-header>
<title>Quirino's - Home</title>
<main>
    <div class="sidebar">
        <div class="filter">
            Filtrar
            <fa-icon [icon]="faCalendar"></fa-icon>
        </div>
        <details class="service-date">
            <summary>Data</summary>
            <input type="date" name="date-input" id="collapsible" placeholder="">
        </details>
        <details class="service-number">
            <summary>Número do serviço</summary>
            <input type="number" name="service-number-input" id="collapsible" placeholder="Digite aqui...">
        </details>
        <details class="service-type">
            <summary>Tipo do serviço</summary>
            <div class="service-row">
                <input type="checkbox" name="eletricista" id="eletricista">
                <label for="eletricista">Eletricista</label>
            </div>

            <div class="service-row">
                <input type="checkbox" name="hidraulica" id="hidraulica">
                <label for="hidraulica">Hidráulica</label>    
            </div>

            <div class="service-row">
                <input type="checkbox" name="entupimento" id="entupimento">
                <label for="entupimento">Entupimento</label>
            </div>

            <div class="service-row">
                <input type="checkbox" name="vidraceiro" id="vidraceiro">
                <label for="vidraceiro">Vidraceiro</label>
            </div>

            <div class="service-row">
                <input type="checkbox" name="vigilancia" id="vigilancia">
                <label for="vigilancia">Vigilância</label>
            </div>

            <div class="service-row">
                <input type="checkbox" name="check-up" id="check-up">
                <label for="check-up">Check-up</label>
            </div>

            <div class="service-row">
                <input type="checkbox" name="cobertura" id="cobertura">
                <label for="cobertura">Cobertura Provisória</label>
            </div>

            <div class="service-row">
                <input type="checkbox" name="tapume" id="tapume">
                <label for="tapume">Colocação de Tapume</label>
            </div>

            <div class="service-row">
                <input type="checkbox" name="chaveiro" id="chaveiro">
                <label for="chaveiro">Chaveiro</label>
            </div>
        </details>
    </div>
    <div class="services">
        <h1 id="services-title">Registro de serviços:</h1>
        <div class="services-options">
            <mat-dialog-actions>
                <button id="new-service" (click)="openDialog()">+ Novo serviço</button>
            </mat-dialog-actions>
            <a routerLink="/novo-funcionario"><button id="new-employee">Cadastrar funcionário</button></a>
            <a routerLink="/renovar-senha"><button id="new-password">Renovar senha</button></a>
        </div>
        <div class="services-list">
            <div class="list-order">
                <div class="order-top">
                    <div class="order-top-left">
                        <div class="order-number">
                            <p>1</p>
                        </div>
                        <h1>Tipo de serviço</h1>
                    </div>
                    <div class="order-top-right">
                        <p>#001</p>
                        <img src="/assets/orderIcon.png" alt="">
                    </div>
                </div>
                <div class="order-bottom">
                    <div class="order-bottom-info-above">
                        <div class="order-above-left">
                            <p><span id="title-blue">Ordem do serviço: </span>Teste</p>
                            <p><span id="title-blue">Seguradora: </span>teste</p>
                        </div>
                        <div class="order-above-right">
                            <p id="title-blue">Aguardando</p>
                        </div>
                    </div>
                    <div class="order-bottom-info-below">
                        <p id="service-date">00/00/00</p>
                        <p id="service-hour">00:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>