@mixin sidebar_collapsible {
    padding: 0.625rem;
    height: 1.875rem;
    font-weight: 500;
    font-size: 1.25rem;
}

main {
    display: flex;
    height: 87.3%;
}

.sidebar {
    width: 18.4375rem;
    border-right: 2px solid #BFBFBF;
    overflow-y: auto;
    height: 102%;

    &::-webkit-scrollbar-thumb {
        border: none;
        border-radius: 0;
    }

    .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #BFBFBF;
        @include sidebar_collapsible;
    }

    .service-row {
        margin: 0
    }

    details {
        @include sidebar_collapsible;
        border-bottom: 2px solid #BFBFBF;
        transition: border-width 0.3s;

        summary {
            cursor: pointer;
        }

        input {
            margin-top: 10px;
            border: 2px solid #BFBFBF;
            border-radius: 10px;
            width: 95%;
            height: 23px;
            padding: 5px;
        }

        input[type="radio"] {
            width: 25px;
            height: 25px;
            margin: 0 10px 0 0;
        }

        &[open] {
            height: auto;
        }
    }

    .service-number {

        .submitBtn {
            height: 37px;
            font-size: 20px;
            width: 100%;
            border: none;
        }

        &[open] {
            height: auto;
        }
    }

    details.service-status {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: fit-content;

        .service-status-row {
            display: flex;
            align-items: center;    
            margin: 10px;
        }
    }

    details.service-type {
        border-bottom: 2px solid #bfbfbf;
        
        .service-row {
            display: flex;
            align-items: center;
            margin: 10px;

            input[type="checkbox"] {
                width: 25px;
                height: 25px;
                margin: 16px;
                border: 2px solid #BFBFBF;
            }
        }

        &[open] {
            height: auto;
        }
    }
}

.main-body {

    .body-top {
        width: 80vw;

        #services-title {
            font-size: 20px;
            font-weight: 500;
            padding: 5px;
            border: 2px solid #BFBFBF;
            border-radius: 0 0 50px 0;
            border-left: none;
            width: 18%;
        }
        
        .services-options {
            display: flex;
            gap: 20px;
            margin: 30px;
        
            mat-dialog-actions {
                flex-wrap: unset;
                min-height: 50px;
            }
        
            a, mat-dialog-actions {
                cursor: pointer;
                border: 2px solid #000;
                border-radius: 20px;
                transition: transform .2s;
                max-height: 44px;
        
                &:hover {
                    transform: scale(1.1);
                }    
        
                button {
                    cursor: pointer;
                    background: none;
                    font-size: 20px;
                    font-weight: 600;
                    border: none;
                    padding: 10px;
                }
            }
        }
    }
    
    .body-bottom {
        display: flex;

        .services {
    
            h2 {
                margin-left: 30px;
            }
        
            .services-list {
                margin-left: 40px;
                max-height: calc(100vh - 30vh);
                width: 41rem;
                overflow-y: auto;
        
                .list-order {
                    margin-bottom: 20px;
        
                    .list-order:last-child {
                        margin-bottom: 50px;
                    }
        
                    .order-bottom {
                        border-radius: 0 0 10px 10px;
                        background: #D9D9D9;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 25px;
                        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.31);
        
                        .order-bottom-info-above {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 25px;
                            
                            #title-blue {
                                color: #252D6C;
                            }
        
                            .order-above-left {
                                font-size: 22px;
                            }
        
                            .order-above-right {
                                font-size: 16px;
                            }
                        }
        
                        .order-bottom-info-below {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-top: 2px solid #333333;
        
                            p {
                                margin-top: 14px;
                                color: #BFBFBF;
                            }
                        }
                    }
                }
            }
        }
        
        .service-opened {
            width: 636px;
            margin-left: 112px;
        
            .order-top {
                
                .order-top-left {
                    fa-icon {
                        transition: transform .2s;
        
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        
            .opened-bottom {
                max-height: 400px;
                overflow-y: auto;
                border: 2px solid #000;
                border-radius: 0 0 10px 10px;
                padding: 24px;
        
                .single-response {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
        
                    .client-description {
                        height: 120px;
                    }
                }
        
                .response {
                    width: 100%;
                    margin-bottom: 15px;
        
                    #response-label {
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
        
                    #response-box {
                        word-break: break-word;
                        border: 2px solid #000;
                        border-radius: 10px;
                        padding: 10px;
                        font-weight: 600;
                    }
                    
                }
        
                .double-response {
                    display: flex;
                    flex-direction: row;
                    gap: 85px;
                }
            }
        }
    }
}
