
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$quirinos-web-primary: mat.define-palette(mat.$indigo-palette);
$quirinos-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$quirinos-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$quirinos-web-theme: mat.define-light-theme((
  color: (
    primary: $quirinos-web-primary,
    accent: $quirinos-web-accent,
    warn: $quirinos-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($quirinos-web-theme);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.submitBtn {
    border: none;
    border-radius: 10px;
    background-color: #252D6C;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    height: 50px;
    transition: transform .2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.returnBtn {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  font-size: 28px;
  color: #000;
  border: 2px solid #000;
  font-weight: 600;
  width: 100%;
  height: 50px;
  transition: transform .2s;
  margin-top: 20px;

  &:hover {
      cursor: pointer;
      transform: scale(1.1);
  }
}

.success-message {
  font-size: 16px;
  font-weight: 600;
  color: #53a653;
  margin-bottom: 20px;
}

.error-message {
  font-size: 16px;
  font-weight: 600;
  color: #c20000;
  margin-bottom: 20px;
}

#credentials {
    font-size: 18px;
    padding: 10px;
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    margin-bottom: 18px;
    overflow-x: scroll;
    white-space: nowrap;
}

#question-label {
  margin-bottom: 5px;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  border: 2px solid #fff;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#credentials::-webkit-scrollbar {
  height: 2px;
}

#credentials::-webkit-scrollbar-thumb {
  background-color: #888;
}

#credentials::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

label {
  font-weight: 500;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.order-top {
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252D6C;
  color: #fff;
  padding: 23px;

  .order-top-left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      
      .order-number {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 52px;
          height: 52px;
          border: 1px solid #fff;
          border-radius: 100%;
          font-size: 26px;
          font-weight: 700;
      }
  }

  .order-top-right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      font-size: 22px;
  }
}

.service-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  input[type="checkbox"] {
      width: 30px;
      height: 30px;
      border: 2px solid #BFBFBF;
      border-radius: 10px;
  }

  label {
      font-size: 18px;
      margin-left: 5px;
  }
}

.another {
  display: flex;
  align-items: center;
  justify-content: center;

  label {
      margin-right: 5px;
  }

  input {
      border: none;
      border-bottom: 1px solid #000;
      padding: 2px;

      &:focus {
          outline: none;
      }
  }
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

input:disabled {
  background-color: #e4e4e4;
}

.logout-menu {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 215px;
  
  .mat-menu-top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    fa-icon {
      font-size: 45px;
    }

    p {
      width: 80%;
      word-wrap: break-word;
    }
  }

  .mat-menu-div {
    width: 100%;
    height: 1px;
    background-color: #888;
  }
}